table {
    border-collapse: collapse;
}

table, th, td {

    border: 1px solid black;
    padding: 1em;
}

tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }

tr:first-child {
    background-color: rgba(28, 22, 22, 0.5);
    margin-bottom: 2em;
}  